#header {
	text-align: center;
	padding: 1.5rem 0;
}

#header a {
	display: inline-block;
	width: 50%;
	max-width: 320px;
}

#header img {
	display: inline-block;
	padding: 1rem 1rem;
	width: 100%;
}

#header a img {
	transition: transform 0.125s ease-in-out;
}

#header a:hover img {
	transform: scale(1.05);
}
