{{ $attribution := .Site.Params.default_attribution }}
{{ $cover := .Site.Params.default_cover}}
{{ with .Params.cover }}
    {{ $cover = . }}
    {{ $attribution = "" }}
{{ end }}

{{ with .Params.attribution }}
    {{ $attribution = . }}
{{ end }}

{{ $coverResource := (resources.Get $cover | resources.Fingerprint).RelPermalink }}

<figure class="cover">
    <img src="{{ $coverResource }}" alt="{{ .Title }}">
    {{ if ne $attribution "" }}
        <figcaption>Photo Credit: {{ $attribution }}</figcaption>
    {{ end }}
</figure>
