<div class="monetize">
    <h1>Enjoying our content?</h1>
    <p>
        Help keep our content ad free and consider supporting us using one of the buttons bellow.
    </p>
    <p>
        Thanks! ❤️
    </p>
    <a href="https://etsy.com/shop/GalaxysThreads" target="_blank">
        <img src="{{ (resources.Get "assets/images/shop-on-etsy.webp"|resources.Fingerprint).RelPermalink }}" alt="Shop on Etsy">
    </a>
    <a href="https://www.buymeacoffee.com/GalaxysThreads" target="_blank">
        <img src="{{ (resources.Get "assets/images/buy-me-a-coffee.webp"|resources.Fingerprint).RelPermalink }}" alt="Buy Me A Coffee" >
    </a>
</div>
