<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{ partial "pages/head.html" . }}
	</head>
	<body>
		{{ partial "pages/header.html" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "pages/footer.html" . }}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PRM8157LTQ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-PRM8157LTQ');
		</script>

	</body>
</html>
