<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Galaxy‘s Threads</title>
		<meta name="description" content="Creating threads inspired by a galaxy far, far away.">

		<meta charset="utf-8">
		<meta content="text/html; charset=UTF-8" name="Content-Type">
		<meta name="viewport" content="width=device-width">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="https://galaxysthreads.com/social.png">
		<meta name="twitter:site" content="@GalaxysThreads">
		<meta name="twitter:title" content="Galaxy's Threads">

		<meta property="og:title" content="Galaxy's Threads">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://galaxysthreads.com/social.png">
		<meta property="og:description" content="Creating threads inspired by a galaxy far, far away.">

		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

		<link rel="stylesheet" href="/assets/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>

		<main class="data_pad">
			<div class="data_pad_logo">
				<img src="/assets/logo.svg">
			</div>
			<p>
				Creating threads inspired by a galaxy far, far away.
			</p>
			<nav class="data_pad_links">

				<a
					class="data_pad_link"
					href="https://etsy.com/shop/galaxysthreads"
					target="_blank"
					rel="noreferrer"
				>
					<div class="icon">
						<i class="fab fa-etsy"></i>
					</div>
					<div class="labels">
						<div class="english">
							Etsy
						</div>
						<div class="aurebesh">
							Etsy
						</div>
					</div>
				</a>

				<a
					class="data_pad_link"
					href="https://instagram.com/galaxysthreads"
					target="_blank"
					rel="noreferrer"
				>
					<div class="icon">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="labels">
						<div class="english">
							Instagram
						</div>
						<div class="aurebesh">
							Instagram
						</div>
					</div>
				</a>

				<a
					class="data_pad_link"
					href="https://twitter.com/galaxysthreads"
					target="_blank"
					rel="noreferrer"
				>
					<div class="icon">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="labels">
						<div class="english">
							Twitter
						</div>
						<div class="aurebesh">
							Twitter
						</div>
					</div>
				</a>

			</nav>
		</main>

	</body>
</html>
