#footer {
	text-align: center;
	margin: 2em auto;
	border-top: var(--border);
}

#footer a {
	display: inline-block;
	font-size: 2rem;
	padding: 0.5rem;
}

#footer p {
	color: var(--foreground);
	font-size: 0.75rem;
	font-weight: normal;
	margin: 1rem;
}
