.child {
	max-width: 75%;
	display: block;
	background: var(--background);
	border: var(--border);
	border-radius: var(--border-radius);
	overflow: hidden;
	margin: auto;
	margin-bottom: var(--spacing);
}

.child:last-child {
	margin-bottom: 0;
}

.child .title {
	text-align: center;
	font-size: 1.5rem;
	padding: var(--spacing-small);
}
