.main {
	.caption {
		text-align: center;
		border-top: var(--reset-css-border-primary);
		padding: 0.5rem 0;
	}

	table {
		.message {
			text-align: center;
		}

		th,
		td {
			white-space: nowrap;
		}

		th {
			&.sortable {
				cursor: pointer;
				user-select: none;
				padding-right: 2rem;
				text-decoration: underline;
				position: relative;

				.sortIndicator {
					position: absolute;
					padding: 0 0.5rem;
					right: 0;
				}
			}
		}

		td {
			.mediaLinkIcon {
				padding-left: 0.25rem;
			}
		}
	}
}
