@import './Components/Table.scss';
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

:root {
	--k-prism-font-title-family: 'Sen';
}

#canon-guide {
	td {
		a::after {
			display: none;
		}
	}
}

.filters {
	user-select: none;
	padding-right: 1rem;
	padding-bottom: 1rem;
	display: flex;
	column-gap: 4rem;
	row-gap: 1rem;
	flex-wrap: wrap;

	.filter {
		h2 {
			margin-bottom: 0.5rem;
		}
		label {
			cursor: pointer;
			display: block;
			padding-bottom: 0.5rem;
			padding-right: 0.5rem;
			white-space: nowrap;

			input {
				margin-right: 0.25rem;
			}
		}
	}
}

.table-disclaimer {
	margin-top: 1rem;
}
