@import './Components/Table.scss';
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
:root {
	--kpds-src-color-dark-accent-primary: #00bfff;
	--kpds-src-color-dark-foreground-accent: black;
	--kpds-src-title-font-family: 'Sen';
}

.filters {
	user-select: none;
	vertical-align: top;
	padding-right: 1rem;
	padding-bottom: 1rem;

	label {
		cursor: pointer;
		display: inline-block;
		padding-bottom: 0.5rem;
		padding-right: 0.5rem;
		white-space: nowrap;

		input {
			margin-right: 0.5rem;
		}
	}
}
