body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-body);
    font-size: 14.88px;
    font-weight: 400;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-header);
    color: var(--foreground-accent);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--primary);
}

img {
    max-width: 100%;
}

.aurebesh {
    font-family: "Aurebesh";
    font-size: .5em;
    font-weight: normal;
    color: var(--foreground);
    line-height: 1em;
}

#header>a,
a .title {
    transition: transform 0.125s ease-in-out;
}

#header>a:hover,
a:hover .title {
    transform: scale(1.05);
}



#footer,
#body {
    max-width: 768px;
    margin: auto;
}
